<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admisiones App @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .custom-card-complete {
            background-color: #eafaf1;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }

        .custom-card-incomplete {
            background-color: #eaf4fc;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }

        .right-container {
            text-align: right;
        }

        .headline {
            width: 100%;
            text-align: right;
            margin-top: 20px;
            border-bottom: 1px solid #ddd;
        }

        .headline-left-90 {
            width: 90%;
            text-align: left;
            margin-top: 20px;
            border-bottom: 1px solid #ff6a00;
        }

        .custom-dropdown-item {
            background-color: #343a40;
            color: #ffffff;
        }

            .custom-dropdown-item:hover,
            .custom-dropdown-item:focus {
                background-color: #495057;
                color: #ffffff;
            }

        .form-horizontal .form-group {
            margin-bottom: 1rem;
        }

        .form-horizontal {
            background-color: #eeeeee;
            border-radius: 0.25rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }

        .form-horizontal-login-register {
            min-width: 180px;
            margin: 0 auto;
            background-color: #eeeeee;
            align-items: center;
            width: 40%; 
            border-radius: 0.25rem;
            padding: 1rem; 
            margin-bottom: 1rem;
        }

        .btn-outline-secondary {
            margin-right: 0.5rem;
        }

        .form-group.text-right {
            margin-top: 2rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    @Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
new StyleSheet { ExtensionSuite = ExtensionSuite.Icons },
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors},
new StyleSheet { ExtensionSuite = ExtensionSuite.Bootstrap}
)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.GridView },
            new Script { ExtensionSuite = ExtensionSuite.Icons },
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Bootstrap }
    )

    <link rel="icon" href="@Url.Content("~/Images/logo.png")" type="image/x-icon" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("Admisiones App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Session["usuario"] != null && Session["nombreUsuario"]!=null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> @Session["nombreUsuario"]
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item custom-dropdown-item" href="@Url.Action("Logout", "Acceso")">Cerrar sesión</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Admisiones App</p>
        </footer>
    </div> 
</body>
</html>

